@model HospitalManagement.ViewModels.Register
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Doctor Account</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/img/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
    <style>
        .popup-alert {
            position: fixed;
            text-align: center;
            top: 5px;
            right: 5px;
        }
    </style>
</head>

<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('@Url.Content("~/img/bg.jpg")');">
            <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                <div>
                    @if (TempData["error"] != null)
                    {
                        <div id="popup-alert" class="popup-alert alert alert-danger alert-dismissible fade show text-center" role="alert">
                            <div>@TempData["error"]</div>
                        </div>
                    }
                    @if (TempData["success"] != null)
                    {
                        <div id="popup-alert" class="popup-alert alert alert-success alert-dismissible fade show text-center" role="alert">
                            <div>@TempData["success"]</div>
                        </div>
                    }
                </div>

                <form asp-action="AddDoctorAccount" method="post" class="login100-form validate-form flex-sb flex-w" enctype="multipart/form-data">
                    <span class="login100-form-title p-b-20">Add doctor account</span>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger w-100 text-center mb-2" })

                    <div class="p-t-31 p-b-9 w-100">
                        <span class="txt1">
                            Email
                        </span>
                        <span asp-validation-for="Email" class="text-danger small"></span>

                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Email is required">
                        <input asp-for="Email" class="input100" />
                        <span class="focus-input100"></span>
                    </div>

                    <div class="p-t-13 p-b-9 w-100">
                        <span class="txt1">
                            Password
                        </span>
                        <span asp-validation-for="Password" class="text-danger small"></span>

                    </div>

                    <div class="wrap-input100 validate-input">
                        <input asp-for="Password" type="password"
                               id="Password"
                               name="Password"
                               data-val="true"
                               data-val-required="Password is required."
                               data-val-minlength="Password must be at least 6 characters."
                               data-val-minlength-min="6"
                               data-val-regex="Password must be at least 6 characters including at least 1 uppercase letter and 1 number."
                               data-val-regex-pattern="^(?=.*[A-Z])(?=.*\d).{6,}$"
                               class="input100" />
                    </div>


                    <div class="p-t-13 p-b-9 w-100">
                        <span class="txt1">
                            Confirm your password
                        </span>
                        <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>

                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Confirm your password please!">
                        <input asp-for="ConfirmPassword" class="input100" type="password" />
                        <span class="focus-input100"></span>
                    </div>

                    <div class="p-t-13 p-b-9 w-100">
                        <span class="txt1">
                            Full name
                        </span>
                        <span asp-validation-for="FullName" class="text-danger small"></span>

                    </div>
                    <div class="wrap-input100 validate-input">
                        <input asp-for="FullName" class="input100" />
                        <span class="focus-input100"></span>
                    </div>

                    <div class="p-t-13 p-b-9 w-100">
                        <span class="txt1">
                            Phone number
                        </span>
                        <span asp-validation-for="PhoneNumber" class="text-danger small"></span>

                    </div>
                    <div class="wrap-input100 validate-input">
                        <input asp-for="PhoneNumber" class="input100" type="tel" />
                        <span class="focus-input100"></span>
                    </div>

                    <div class="p-t-13 p-b-9 w-100">
                        <span class="txt1">
                            Gender
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <select asp-for="Gender" class="input100 form-select">
                            <option selected value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="O">Other</option>
                        </select>
                        <span class="focus-input100"></span>
                    </div>


                    <!-- Department -->
                    <div class="p-t-13 p-b-9 w-100">
                        <span class="txt1">Department</span>
                        <span asp-validation-for="DepartmentName" class="text-danger small"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <input asp-for="DepartmentName" class="input100" />
                        <span class="focus-input100"></span>
                    </div>


                    <!-- Experience Year -->
                    <div class="p-t-13 p-b-9 w-100">
                        <span class="txt1">Years of Experience</span>
                        <span asp-validation-for="ExperienceYear" class="text-danger small"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input asp-for="ExperienceYear" class="input100" type="number" min="0" max="60" />
                        <span class="focus-input100"></span>
                    </div>


                    <!-- Degree -->
                    <div class="p-t-13 p-b-9 w-100">
                        <span class="txt1">Degree</span>
                        <span asp-validation-for="Degree" class="text-danger small"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input asp-for="Degree" class="input100" />
                        <span class="focus-input100"></span>
                    </div>


                    <!-- Submit button -->
                    <div class="container-login100-form-btn m-t-17 w-100">
                        <button type="submit" class="login100-form-btn">Add Doctor</button>
                    </div>
                </form>

                <div class="container-login100-form-btn m-t-17">
                    <a asp-controller="User" asp-action="ManageAccount" class="login100-form-btn" asp-route-type="Doctor">
                        Back to Account List
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/js/login.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        window.setTimeout(function () {
            const alertBox = document.getElementById('popup-alert');
            if (alertBox) {
                alertBox.classList.remove('show');
                alertBox.classList.add('hide');
                setTimeout(() => alertBox.remove(), 500);
            }
        }, 3000);
    </script>
</body>

</html>
