@model News

@section Styles {
	<link rel="stylesheet" href="~/css/Package/CreatePackage.css">
	<style>
		#loadingOverlay {
			display: none !important;
		}
	</style>
}

@{
    ViewData["Title"] = "Tạo bài viết mới";
}

<form asp-controller="News" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="container mt-4">
        <h3>Tiêu đề bài viết</h3>
        <input type="text" class="form-control mb-3" name="Title" placeholder="Nhập tiêu đề"
               value="@ViewBag.Title"required />

        <h5>Mô tả ngắn</h5>
        <textarea class="form-control mb-3" name="Description" rows="3" placeholder="Nhập mô tả ngắn tại đây" required>@(ViewBag.Description ?? "")</textarea>

        <h5>Ảnh đại diện (Thumbnail)</h5>
        <input required type="file" name="photo" class="form-control mb-3" accept="image/*" />

        <h5>Nội dung chi tiết</h5>
        <textarea id="summernote" name="Content">@ViewBag.Content</textarea>

        <button type="submit" class="btn btn-primary mt-3"  required>Lưu bài viết</button>
    </div>
</form>

@section Scripts {
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-bs4.min.js"></script>

    <script>
        $('#summernote').summernote({
            placeholder: 'Nhập nội dung bài viết...',
            tabsize: 2,
            height: 200
        });
    </script>
}
